/*ШРИФТЫ*/
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');








/*ШРИФТЫ*/
















/*НАЧАЛО*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*Micro clearfix*/

#content::before, #content::after {
  content: "";
  display: table;
}
#content::after {
  clear: both;
}
#content {
  zoom: 1;
}


/*Micro clearfix*/

/*НАЧАЛО*/















































/*ОБЩЕЕ1*/

body {
    background-color: #fff;
    background-image: url(photo/fon3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

/*ОБЩЕЕ2*/

#global {
    width: 960px;
    margin: 0 auto;    
}






/*-------------------------------------------------------------------------*/ 











/*НАВИГАЦИЯ САЙТА*/


#navigation {
    width: 840px;
    float: right;
    height: 65px;
    background-color: rgba(51, 51, 51, 0.59);
    background-image: ;
    box-shadow: inset 0 0 20px rgba(3,4,5,1);
    
}

/*НАВИГАЦИЯ САЙТА2*/

#navigation ul li {
    float: left;  
    position: relative;
}

/*НАВИГАЦИЯ САЙТА3*/

#navigation ul li a {
    color: #fff;
    padding: 0 15px;
    font-size: 20px;
    line-height: 65px;
    display: block;
    height: 65px;
    text-decoration: none;
        
}



/*НАВИГАЦИЯ САЙТА4 Hover*/
#navigation ul li a:hover {
    background: rgba(59, 89, 152, 0.6);
}

/*______________________________*/ 


/*ВЫПАДАЮЩЕЕ МЕНЮ ГОРИЗОНТАЛЬНОЙ НАВИГАЦИИ*/

#navigation .dropdown {
    position: absolute;
    top: 100%;
    background: rgba(51, 51, 51, 0.59);
    width: 200px;
    box-shadow: inset 0 0 5px rgba(3,4,5,1);
    box-shadow: 0 0 5px rgba(3,4,5,1);
    display: none;
    
    
}

/*ВЫПАДАЮЩЕЕ МЕНЮ ГОРИЗОНТАЛЬНОЙ НАВИГАЦИИ 2*/

#navigation .dropdown li {
 width: 100%; 
 height: 45px;
}

/*ВЫПАДАЮЩЕЕ МЕНЮ ГОРИЗОНТАЛЬНОЙ НАВИГАЦИИ 3*/

#navigation .dropdown li a {
    line-height: 45px;
    height: 45px;
    
    
}

/*ВЫПАДАЮЩЕЕ МЕНЮ ГОРИЗОНТАЛЬНОЙ НАВИГАЦИИ ЗАВЕРШЕНИЕ*/

#navigation li:hover .dropdown {
    display: block;
}
    
/*______________________________*/ 

/*ЛОГОТИП*/    
#logo {
    float: left; 
    width: 120px;
    height: 65px;
}




    
    
    
    
    
/*-------------------------------------------------------------------------*/ 
    
    
    
    
    
 































    
    /*КОНТЕНТ*/
#content {
}



::selection {
    background: black;
    

}




#article {
    
    width: 720px;  
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
    
    background-color: rgba(123, 123, 123, 0.39);
    box-shadow: inset 0 0 20px rgba(3,4,5,1);
    height: 1500px;
} 


#sidebar {
    width: 160px;
    float: left;
    
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    
    
    background-color: rgba(51, 51, 51, 0.59);
    box-shadow: inset 0 0 20px rgba(3,4,5,1);
    height: 1500px;
    
}

#sidebar li{
    color: white;
    
    
}


#footer {
    background-color: rgba(51, 51, 51, 0.59);
    box-shadow: inset 0 0 20px rgba(3,4,5,1);
    color: #fff;
    
     background-color: rgba(51, 51, 51, 0.59);
    box-shadow: inset 0 0 20px rgba;
    height: 120px;
}

.foter-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 18px;
}

.foter-2 {
    padding-left: 20px;
    padding-top: 20px;
}
    
    
/*ДЛЯ ПРИНТЕРА*/
@media print {
    body {  background: #fff; }
    #navigation { display: none; }
    #sidebar { display: none; }
    #footer { display: none;}
    #logo { float:none; }
} 

/*ДЛЯ ПРИНТЕРА*/ 

          /*FOR FUTURE*/


#fixed {
    position: fixed;
    background-color: white;
    height: 100px;
    width: 200px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -50px;
}
       /*FOR FUTURE*/



