
body {
 background-image: url(photo/fon.jpg);
 background-repeat: repeat-x;
 background-attachment: fixed;
 }
 
 #pervo {
	 color: red;
	 font-family: cursive;
 } 
#header {
    height: 200px;
    background-image: url(photo/shapka.jpg);
    
    
}
